<!DOCTYPE html>
<!--[if lt IE 6]>
<html class="ie ie6" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 7]>
<html class="ie ie7" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 8]>
<html class="ie ie8" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 9]>
<html class="ie ie9" lang="ru" dir="ltr"> <![endif]-->
<!--[if IE 10]>
<html class="ie ie10" lang="ru" dir="ltr"> <![endif]-->
<!--[if (gte IE 11)|!(IE)]><!-->
<html lang="ru" dir="ltr" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->

<head itemscope itemtype="http://schema.org/WPHeader">
    <!-- DEVELOPER -->
    <!-- https://github.com/TheWitcher1991 -->

    <!-- SEO -->
    <meta charset="UTF-8" />

    <title itemprop="headline">
        Refract AI — мобильный ИИ-помощник для экспресс-диагностики растений
    </title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta itemprop="description" name="description"
        content="Refract AI: мобильное приложение для агрономов и фермеров. Экспресс-диагностика растений по концентрации сока с помощью ИИ. Точные рекомендации по подкормке за 2 минуты." />
    <meta itemprop="keywords" name="keywords" content="сливочное масло, натуральное масло, южное масло, ЮМП" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="content-language" content="ru" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://refractai.ru" />

    <meta name="author" content="© 2026 ООО «Био-Экспресс»" />
    <meta name="copyright" content="© 2026 ООО «Био-Экспресс»" />

    <meta property="og:title" content="Refract AI — мобильный ИИ-помощник для экспресс-диагностики растений" />
    <meta property="og:description"
        content="Refract AI: мобильное приложение для агрономов и фермеров. Экспресс-диагностика растений по концентрации сока с помощью ИИ. Точные рекомендации по подкормке за 2 минуты." />
    <meta property="og:image:alt" content="Refract AI" />
    <meta property="og:site_name" content="Refract AI" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Refract AI — мобильный ИИ-помощник для экспресс-диагностики растений" />
    <meta name="twitter:description"
        content="Refract AI: мобильное приложение для агрономов и фермеров. Экспресс-диагностика растений по концентрации сока с помощью ИИ. Точные рекомендации по подкормке за 2 минуты." />
    <meta name="twitter:domain" content="refractai.ru" />
    <meta name="twitter:site" content="@refractai.ru" />
    <meta name="twitter:creator" content="@refractai.ru" />

    <meta name="hostname" content="refractai.ru" />
    <meta name="expected-hostname" content="refractai.ru" />
    <meta name="format-detection" content="telephone=no" />

    <link rel="shortcut icon" href="../public/logo.png" type="image/x-icon" />
    <link rel="icon" href="../public/logo.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../public/logo.png" />

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Refract AI — мобильный ИИ-помощник для экспресс-диагностики растений",
        "url": "https://refractai.ru",
        "description": "Refract AI: мобильное приложение для агрономов и фермеров. Экспресс-диагностика растений по концентрации сока с помощью ИИ. Точные рекомендации по подкормке за 2 минуты."
      }
    </script>

    <!-- LIBS -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.3/animate.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- STYLES -->
    <link rel="stylesheet" href="../static/font/font.css?v=<?= date('YmdHis') ?>" />
    <link rel="stylesheet" href="../static/styles/vars.css?v=<?= date('YmdHis') ?>" />
    <link rel="stylesheet" href="../static/styles/normalize.css?v=<?= date('YmdHis') ?>" />
    <link rel="stylesheet" href="../static/styles/wrapper.css?v=<?= date('YmdHis') ?>" />
    <link rel="stylesheet" href="../static/styles/media.css?v=<?= date('YmdHis') ?>" />
</head>

<body>

    <main id="main">
        <header id="header">
            <section class="section section-header">
                <nav class="nav">
                    <div class="logo blur-block wow fadeInLeft" data-wow-delay="0.2s">
                        <img src="../public/logo.png" width="32" height="30" alt="logo" />
                        rootberry
                    </div>
                    <div class="menu blur-block wow fadeInDown" data-wow-delay="0.3s">
                        <a href="#">Проблема</a>
                        <a href="#">О методе</a>
                        <a href="#">Преимущества</a>
                        <a href="#">Для кого</a>
                    </div>
                    <a class="nav-link blur-block wow fadeInRight" data-wow-delay="0.2s"
                        href="mailto:chupahin.rolan2002@gmail.com">Связаться</a>
                </nav>
                <div class="section-hero-text">
                    <img src="../public/logo-text.png" alt="logo" />
                </div>
                <div class="section-hero-footer">
                    <div>Узнать подробнее</div>
                    <i class="ti ti-chevron-down"></i>
                </div>
            </section>
        </header>

        <section class="section section-star">
            <div class="section-title wow fadeInLeft">Саженцы не дает плодов?</div>
            <div class="section-text wow fadeInRight">
                Дорогие саженцы часто больны, а свои черенки почти всегда гниют
            </div>
        </section>

    </main>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"
        integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        new WOW({
            boxClass: "wow",
            animateClass: "animated",
            offset: 80,
            mobile: false,
            live: true,
        }).init();
    </script>

    <script src="../static/libs/gsap.min.js"></script>
    <script src="../static/libs/ScrollTrigger.min.js"></script>
    <script src="../static/libs/ScrollSmoother.min.js"></script>

    <script src="../static/scripts/index.js?v=<?= date('YmdHis') ?>"></script>
</body>

</html>